.homepage {
  width: 85vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2EEEA;
  box-shadow: 0 10px 14px rgb(34 15 15 / 13%), 0 4px 14px rgb(0 0 0 / 11%);
  border-radius: 10px;
  margin-bottom: 3em;
}

.homepage h2 {
  z-index: 1;
  position: relative;
  text-align: center;
}

.homepage button {
  background-color: #5D736B;
  color: #fff;
  height: 2em;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 25px;
  cursor: pointer;
  margin: .8em;
  z-index: 1;
  position: relative;
}

.homepage button:hover {
  background-color: #474E4A;
  cursor: pointer;
}

.homepage button:active {
  background-color: #474E4A;
  transform: translateY(2px);
}

.puzzle-icon {
  z-index: 0;
  position: absolute;
  top: 154px;
  bottom: 0;
  left: 181px;
  right: 0;
  color: #E3AB96;
  opacity: .8;
  font-size: 40vw;
}

