.homepage {
  width: 85vw;
  height: 33em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2EEEA;
  border-radius: 10px;
  margin-bottom: 3em;
}

.homepage button {
  background-color: #5D736B;
  color: #fff;
  height: 2em;
  margin: 0 1em;
  padding: .2em .7em;
}