header {
  background-color: transparent;
  width: 100vw;
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
}

a {
  text-decoration: none;
  color: #000;
}

.nav-buttons button {
  height: 2em;
  margin: 0 1em;
  padding: .2em .7em;
}

.login-dropdown {
  width: 8em;
}

@media only screen and (max-width: 650px) {
  .link {
    display: none;
  }
}