.puzzles-container {
	padding: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, auto));
  justify-items: center;
  gap: 1% 3%;
}

.puzzle-page {
	background: #F2EEEA;
	min-height: 80vh;
	margin: 0 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	/* box-shadow: 0 3px 9px -3px rgba(0, 0, 0, .3); */
}

.filters {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	padding: 1em 0;
}

.puzzle-grid-dropdown {
	min-width: 20vw;
}

@media only screen and (max-width: 530px)  {
	.filters div {
		flex-direction: column;
		align-items: center;
	}

	select {
		margin: .5em;
		width: 30vw;
	}

	.puzzle-page {
		margin: 0 1.5em;
	}

	.puzzle-grid-dropdown {
		min-width: 30vw;
	}
}
