.individual-puzzle {
	height: 220px;
	cursor: pointer;
}

.individual-puzzle:hover {
	transition: .2s ease-in-out;
  transform: scale(1.05);
}

.piece-count {
	margin: .8em .5em .8em 0;
	text-align: left;
}

.individual-puzzle img {
	height: 100%;
	border-radius: 10px;
}

.Modal {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	background-color: #F2EEEA;
	border-radius: 10px;
	outline: 0;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4)
}



