.puzzles-container {
	padding: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  justify-items: center;
  gap: 1% 2%;
}

.puzzle-page {
	background: #F2EEEA;
	min-height: 80vh;
	margin: 0 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.filters {
	padding-left: 40px;
	text-align: center;
}

.filters h3 {
	margin-bottom: 1em;
}

.filters div {
	display: flex;
	justify-content: space-evenly;
}

select {
	height: 4vh;
	width: 20vw;
	border-radius: 8px;
	border: black .2px solid;
}