.puzzles-container {
	padding: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, auto));
  justify-items: center;
  gap: 1% 3%;
}

.puzzle-page {
	background: #F2EEEA;
	box-shadow: 0 10px 14px rgb(34 15 15 / 13%), 0 4px 14px rgb(0 0 0 / 11%);
	min-height: 80vh;
	margin: 0 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
}

.filters {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	padding: 1em 0;
}

.filters button {
	background: #5D736B;
  border: none;
  border-radius: 10px;
  padding: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin: .5em;
}

.filters button:hover {
  background-color: #474E4A;
  cursor: pointer;
}

.filters button:active {
  background-color: #474E4A;
  transform: translateY(2px);
}

.puzzle-grid-dropdown {
	min-width: 20vw;
}

@media only screen and (max-width: 545px)  {
	.filters {
		flex-direction: column;
		align-items: center;
	}

	.puzzle-grid-dropdown {
		min-width: 30vw;
	}
}
