.puzzle-details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

.individual-puzzle-details {
	display: flex;
	position: relative;
}

.puzzle-detail-image {
	height: 40vh;
	/* width: 30vw; */
	margin: 2em;
	border-radius: 10px;
	box-shadow: 0 3px 9px -3px rgba(0, 0, 0, .3);
}

.puzzle-details-modal {
	margin-top: 5em;
}

.x-icon {
	height: 61px;
	cursor: pointer;
	position: absolute;
	top: 21px;
	right: 36px;
	z-index: 1;
}

p {
	font-size: 120%;
	margin: .6em;
}

.request-error-message {
	text-align: left;
	margin-left: 1.5em;
	padding: 0;
}

.bold {
	font-weight: bold;
}

.puzzle-image-pieces {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.puzzle-image-pieces h4 {
	font-size: 150%;
	margin-left: 2em;
}

.paragraphs {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.request-button {
	margin: 15px 0 5px 0;
  background: #5D736B;
  border: none;
  border-radius: 10px;
  padding: 17px;
  color: white;
  width: 178px;
  font-size: 100%;
  margin-left: 2em;
}

.request-button:hover {
  background-color: #474E4A;
  cursor: pointer;
}

.request-button:active {
  background-color: #474E4A;
  transform: translateY(2px);
}

@media screen and (max-width: 900px) {
  .individual-puzzle-details {
		flex-direction: column;
		align-items: center;
		margin-left: 2em;
	}

	.request-error-message {
		margin-left: 0;
	}

	.x-icon {
		top: -2px;
		right: 2px;
	}

	.puzzle-image-pieces h4 {
		margin-left: 0;
	}

	.puzzle-detail-image {
		height: 30vh;
		margin: 0 0 1em 0;
	}

	.puzzle-details-modal {
		margin-top: 0;
	}

	.request-button {
		margin-left: 0;
	}

	p {
		font-size: 120%;
	}
} 

@media screen and (max-width: 445px) {
	.puzzle-image-pieces {
		align-items: center;
	}

	.request-error-message {
		text-align: center;
		width: 50vw;
	}
}

@media screen and (max-width: 497px) {
	.puzzle-detail-image {
		height: 20vh;
	}
}