.puzzle-image {
  width: 8em;
  min-height: 7em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-puzzles {
  height: 8em;
}

@media screen and (max-width: 800px) {
  .puzzle-image {
    margin: 0;
  }
}