.user-profile {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 33em;
  margin-bottom: 3em;
}

.user-profile h2 {
  padding: 1em 0;
}

.profile-column-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.profile-column {
  background-color: #F2EEEA;
  width: 17em;
  height: 28em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
}

.center {
  margin: 0 2em;
}

.user-puzzles {
  min-width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}