.puzzle-image {
  width: 8em;
  min-height: 7em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.puzzle-image:hover {
	transition: .2s ease-in-out;
  transform: scale(1.1);
}

.user-puzzles {
  height: 10em;
}

@media screen and (max-width: 800px) {
  .puzzle-image {
    margin: 0;
  }
}